@using profisee_project.Models
@{
  var sales = ViewBag.Sales;
  var salesCount = ViewBag.SalesCount;
}
@{if(salesCount != null){
  <div>
    <a class="btn btn-outline-success" asp-controller="Sale" asp-action="New" asp-route-id = "">Create a New Sale</a>
    <button type="button" id ="number-of-records" class="btn btn-secondary btn-lg" disabled>@salesCount Sales completed</button>
  </div>
}}

<div class="tableFixHead">
    <table id="products-grid">
                  <thead>
                    <tr >
                        <th class = "medium-column">Sale Date</th>
                        <th class = "medium-column">Customer</th>
                        <th class = "large-column">Product Details</th>
                        <th class = "medium-column">Sales Person</th>
                        <th class = "small-column">Sold $</th>
                        <th class = "small-column">Commission($)</th>
                    </tr>
                  </thead>
                    @if(sales != null){
                      @foreach(Sale sale in sales){
                            <tr >
                              <td class = "medium-column">@sale.SaleDate.ToString("MMM dd yyyy")</td>
                              <td class = "medium-column">@sale.SaleCustomerName</td>
                              <td class = "large-column">@sale.ProductDetail</td>
                              <td class = "medium-column">@sale.SalePersonName</td>
                              <td class = "small-column-number">@sale.SalePrice.ToString("N2")</td>
                              <td class = "small-column-number">@Math.Round(sale.SaleCommission, 2).ToString("N2")</td>
                            </tr>
                      }
                    }
    </table>
</div>
    <style>
#products-grid {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#products-grid td, #products-grid th {
  border: 1px solid #ddd;
  padding: 8px;
}

#products-grid tr:nth-child(even){background-color: #f2f2f2;}
#products-grid tr:nth-child(odd){background-color: white;}

@* #products-grid tr:hover {background-color: #ddd;} *@

#products-grid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7b2a1;
  color: white;
}

.small-column{
    width: 8%;
}
.medium-column{
    width: 14%;
}
.small-column-number{
    width: 8%;
    text-align: right;
}
.medium-column-number{
    width: 14%;
    text-align: right;
}
.large-column{
    width: 42%;
}
#number-of-records{
  float: right;
  margin: 3px 0px;
  padding: 1px;
}

.tableFixHead {
        overflow-y: auto;
        height: 76vh; 
        width: 100%;
      }
.tableFixHead thead th {
  position: sticky; 
  top: 0px; 
}
      

</style>



