@using profisee_project.Models
@{
    var customers = ViewBag.Customers;
}


<div>
  <a class="btn btn-outline-success" asp-controller="Customer" asp-action="New" asp-route-id = "">Add a New Customer</a>
</div>

<div class ="tableFixHead">
 <table id="customers-grid">
                  <thead>
                    <tr>
                        <th class = "medium-column">Customer</th>
                        <th class = "large-column">Address</th>
                        <th class = "small-column">Phone Number</th>
                        <th class = "medium-column">Start Date</th>
                    </tr>
                  </thead>
                    @if(customers != null){
                      @foreach(Customer customer in customers){
                            <tr >
                              <td class = "medium-column"><a class="btn btn-light" asp-controller="Customer" asp-action="Update" asp-route-customerId = "@customer.customerId" >@customer.LastName, @customer.FirstName</a></td>
                              <td class = "large-column">@customer.Address</td>
                              <td class = "small-column">(@customer.PhoneNumber.Substring(0,3))  @customer.PhoneNumber.Substring(3,3) @customer.PhoneNumber.Substring(6,4)</td>
                              <td class = "medium-column">@customer.StartDate.ToString("MMM dd yyyy")</td>
                            </tr>
                      }
                    }
    </table>
</div>
    <style>
#customers-grid {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers-grid td, #customers-grid th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers-grid tr:nth-child(even){background-color: #f2f2f2;}
#customers-grid tr:nth-child(odd){background-color: white;}


@* #customers-grid tr:hover {background-color: #ddd;} *@

#customers-grid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7b2a1;
  color: white;
}

.small-column{
width: 6%;
}

.medium-column{
width: 12%;
}
.large-column{
width: 20%;
}
.tableFixHead {
        overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
        height: 76vh; /* gives an initial height of 200px to the table */
        width: 100%;
      }
.tableFixHead thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
}

</style>