@using profisee_project.Models
@{
    var person = ViewBag.Person;
    var personStartDate = ViewBag.Person.StartDate.ToString("yyyy-MM-dd");
    var personTerminationDate = (ViewBag.Person.TerminationDate.ToString("yyyy-MM-dd") != "0001-01-01")? ViewBag.Person.TerminationDate.ToString("yyyy-MM-dd") : null;
}



@{
    if(person != null){
                <div style="width: 80rem;">
        <form style="width: 98%;" asp-controller="SalesPerson" asp-action= "UpdateRecord">
            <div style = "width: 98%;display: flex;">
                <input style = "width: 18%;margin: 0.5%;" type="text" id="FirstName" name="FirstName" placeholder = "First Name" value = '@person.FirstName' required><br><br>
                <input style = "width: 18%;margin: 0.5%;" type="text" id="LastName" name="LastName" placeholder = "Last Name" value = '@person.LastName' required><br><br>
                <input style = "width: 64%;margin: 0.5%;" type="text" id="Address" name="Address" placeholder = "Address" value = '@person.Address' required><br><br>
            </div>
            <div style = "width: 98%;display: flex;">
                <input style = "width: 19%;margin: 0.5%;" type="text" id="PhoneNumber" name="PhoneNumber" maxlength="10" minlength="10" value = '@person.PhoneNumber' placeholder = "Phone Number" required><br><br>
                <label class = "date-label" for="StartDate">Start Date</label>
                <input style = "width: 24%;margin: 0.5%;" type="date" id="StartDate" name="StartDate" placeholder = "Start Date"  value = '@personStartDate' required><br><br>
                <label class = "date-label" for="TerminationDate">Termination Date</label>
                <input style = "width: 24%;margin: 0.5%;" type="date" id="TerminationDate" name="TerminationDate" value = '@personTerminationDate' placeholder = "Termination Date" ><br><br>

                <input  type="hidden" id="managerId" name="managerId" value="1"> 
                <input  type="hidden" id="salesPersonId" name="salesPersonId" value="@person.salesPersonId">
            </div>
            <div style = "width: 99%;">
                <input style = "width: 98%;margin: 0.5%;" type="submit" value="Update Sales Person Information">
            </div>
        </form>

        @if(person.TerminationDate < DateTime.Today && person.TerminationDate.ToString("yyyy-MM-dd") != "0001-01-01" ){
            <form style="width: 98%;" asp-controller="SalesPerson" asp-action= "Delete">
                <input class="btn btn-outline-danger" style = "width: 98%;margin: 0.5%;" type="submit" value="Delete @person.FirstName @person.LastName">
                <input  type="hidden" id="salesPersonId" name="salesPersonId" value="@person.salesPersonId">
            </form>
        }
</div>

    }
}


<style>
    .date-label{
        font-size: 30px;
    }
</style>